@page "{id:int?}"
@using Rookies.eCommerce.Domain
@model Rookies.eCommerce.Pages.Product.DetailModel


<div class="rounded shadow-sm bg-white p-5">
    <div class="row mb-4">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <img src="https://localhost:7276/api/product/@Model.product.Id/image" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
        <div class="col-7">
            <h2 class="text-title">@Model.product.Name</h2>
            <p class="fs-4 fw-bold text-danger mb-2">@Model.product.Price USD</p>
            <p class="fs-4 fw-bold text-danger mb-2">Mô tả sản phẩm: </p>
            <p class="text-muted" style="text-align:justify">@Model.product.Description</p>
            @{
                if (Model.product.Quantity == 0)
                {
                            <p class="text-danger fw-bold mb-2">Hết hàng</p>
                }
                else
                {
                            <p class="text-success fw-bold mb-2">Còn hàng</p>
                }
            }

            <div class="form-floating mb-4">
                <select class="form-select" id="floatingSelect" aria-label="Chọn số lượng">
                    <option value=1 selected>1</option>
                    @for (int i = 1; i <= @Model.product.Quantity; i++)
                    {
                        <option value=@i>@i</option>
                    }
                </select>
                <label for="floatingSelect">Chọn số lượng</label>
            </div>
            <button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p class="fs-4 fw-bold">Danh sách đánh giá</p>
            @{
                if (Model.feedbacks.Count > 0)
                {
                    foreach (var item in Model.feedbacks)
                    {
                                <div class="card mb-3">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <p>Đánh giá</p>
                                        <p>
                                            @for (int i = 0; i < 5; i++)
                                        {
                                            if (i < item.Rating)
                                            {
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                    </svg>
                                            }
                                            else
                                            {
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star text-warning" viewBox="0 0 16 16">
                                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                    </svg>
                                            }
                                        } 
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <p>@item.Comment</p>
                                    </div>
                                    <div class="card-footer">
                                        @item.CreatedDate
                                    </div>
                                </div>
                    }
                }
                else
                {
                            <p>Chưa có đánh giá cho sản phẩm này!</p>
                }

            }
        </div>
        <div class="col-6">
            <form method="post" asp-route-id="@Model.product.Id" asp-page="Detail">
                <p class="fs-4 fw-bold">Đánh giá sản phẩm</p>
                <div class="form-floating mb-4">
                    <select class="form-select" type="number" id="floatingSelect" aria-label="Đánh giá sao" name="Rating">
                        <option value=1 selected>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                    <label for="floatingSelect">Đánh giá sao</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="floatingInput" placeholder="Nội dung đánh giá" style="height: 100px" name="Comment"></textarea>
                    <label for="floatingInput">Nội dung đánh giá</label>
                </div>
                <button type="submit" class="btn btn-primary">Gửi đánh giá</button>
            </form>
        </div>
    </div>
</div>