@page "{id:int?}"
@using Rookies.eCommerce.Domain
@model Rookies.eCommerce.Pages.Product.DetailModel


<div class="rounded shadow-sm bg-white p-5">
    <div class="row mb-4">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <img src="https://inantemnhan.com.vn/wp-content/uploads/2017/10/no-image.png" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
        <div class="col-7">
            <h2 class="text-title">@Model.product.Name</h2>
            <p class="fs-4 fw-bold text-danger mb-2">@Model.product.Price USD</p>
            <p class="fs-4 fw-bold text-danger mb-2">Mô tả sản phẩm: </p>
            <p class="text-muted" style="text-align:justify">@Model.product.Description</p>
            @{
                if(Model.product.Quantity == 0)
                {
                    <p class="text-danger fw-bold mb-2">Hết hàng</p>
                }
                else
                {
                    <p class="text-success fw-bold mb-2">Còn hàng</p>
                }
            }
            
            <div class="form-floating mb-4">
                <select class="form-select" id="floatingSelect" aria-label="Chọn số lượng">
                <option value=1 selected>1</option>
                @for (int i = 1; i <= @Model.product.Quantity; i++)
                {
                    <option value=@i>@i</option>
                }
                </select>
                <label for="floatingSelect">Chọn số lượng</label>
            </div>
            <button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p class="fs-4 fw-bold">Danh sách đánh giá</p>
            @{
                foreach (var item in Model.feedbacks)
                {                    
                    <div class="card mb-2">
                        <div class="card-header">
                            Đánh giá
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>@item.Comment</p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                        <div class="card-footer">
                            @item.CreatedDate
                        </div>
                    </div>
                }
            }            
        </div>
        <div class="col-6">
            <p class="fs-4 fw-bold">Đánh giá sản phẩm</p>
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
              <label for="floatingTextarea2">Bình luận</label>
            </div>
        </div>
    </div>
</div>